# dependencies installed by npm
node_modules

# secrets
.env

# build artefacts
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# macOS related files
.DS_Store

.AppleDouble
.LSOverride

